@model ErpaPay.ClientExample.Models.PaymentResponseModel
@{
    ViewData["Title"] = "DoPayment";
}

@if (Model.Success)
{
   <iframe src="@Model.Secure3dUrl" height="1000" width="100%">
   </iframe>
}
else
{
    <span>@Model.Message</span>
}

