@model ErpaPay.ClientExample.Models.PaymentResponseModel
@{
    ViewData["Title"] = "DoPayment";
}

<div class="container">
    <div class="row">
        @if (Model.Success)
        {
            string result;
            using (var webCl = new System.Net.WebClient())
            {
                webCl.Encoding = System.Text.Encoding.UTF8;
                result = webCl.DownloadString(Model.Secure3dUrl);
            }
            @Html.Raw(result)
        }
        else
        {
            <span>@Model.Message</span>
        }

    </div>
</div>
